@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    color: cornflowerblue;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
}

body {
    background-color: grey;
}
